.temporary-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000; 
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    overflow: hidden;
    color: white;
}

.temporary-container-content {
    width: 70%;
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

@keyframes flash {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.temporary-container.fade-out-1000ms {
    animation: fadeOut 1000ms forwards;
}
.temporary-container.fade-out-1500ms {
    animation: fadeOut 1500ms forwards;
}

.temporary-container.fade-out-2000ms {
    animation: fadeOut 2000ms forwards;
}

.temporary-container.fade-out-2500ms {
    animation: fadeOut 2500ms forwards;
}

.temporary-container.fade-out-3000ms {
    animation: fadeOut 3000ms forwards;
}

.flash-animation-1000ms {
    animation: flash 1000ms infinite;
}
.flash-animation-1500ms {
    animation: flash 1500ms infinite;
}
.flash-animation-2000ms {
    animation: flash 2000ms infinite;
}
.flash-animation-2500ms {
    animation: flash 2500ms infinite;
}
.flash-animation-3000ms {
    animation: flash 3000ms infinite;
}

.hidden-content {
    display: none;
}

.section-item-container {
    display: flex;
    align-items: center;
}

.selection-icon {
    display: inline-block;
    width: 1.5rem;
    text-align: center;
}

.section-item {
    color: white;
    padding-top: .5rem;
    padding-bottom: .5rem;
    display: flex;
}

.section-item-title {
    display: flex;
    margin: 0;
}

#selection-menu {
    padding-top: 2rem;
}

.visible-content {
    display: block;
}

