@page "/"
@using PortfolioWebsite.ViewModels
@inject BaseViewModel BaseViewModel

<PageTitle>.NET Developer, Jack Lehman</PageTitle>

@if (!_isContentVisible)
{
    <div class="container @_introClass">
        <h1 class="text-white">@PersonName</h1>
        <h1 class="text-white">@OpeningKeyword</h1>
    </div>
}

<div class="@(_isContentVisible ? "visible-content" : "hidden-content")">
    <!-- Other content goes here -->
</div>

@code {
    /// <summary>
    /// Properties
    /// </summary>
    private int DisplayTimeMs => BaseViewModel.SiteConfig?.OpeningSectionDurationInMs ?? 0;
    private string PersonName => BaseViewModel.Person?.Name ?? string.Empty;
    private string OpeningKeyword => BaseViewModel.SiteConfig?.OpeningSectionKeyword ?? string.Empty;
    
    private bool _isContentVisible = false;
    private string _introClass = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        await BaseViewModel.InitializeAsync();
        StateHasChanged();
        await Task.Delay(DisplayTimeMs);
        _introClass = "fade-out";
        StateHasChanged();
        await Task.Delay(1000); // Ensure this matches with the duration of your fade-out animation
        _isContentVisible = true;
        StateHasChanged();
    }
}

